.burger {
  --burger-width: 57px;
  --burger-height: 57px;
  --burger-line-width: 25px;
  --burger-line-height: 2px;

  position: relative;
  border: 1px solid var(--light-color);
  border-radius: 100%;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--light-color);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: calc(var(--burger-line-width) / 2);
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 20px;
  }

  &::after {
    left: 14px;
    bottom: 20px;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
  }

  // &--active {
  //   &::before {
  //     top: 50%;
  //     transform: rotate(45deg);
  //     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  //   }

  //   &::after {
  //     top: 50%;
  //     transform: rotate(-45deg);
  //     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  //   }

  //   .burger__line {
  //     transform: scale(0);
  //     transition: transform 0.3s ease-in-out;
  //   }
  // }
}
