<section class="about">
  <div class="small-item"></div>
  <div class="container about__container">
    <h2 class="title about__title" data-scroll-title>What we do?</h2>
    <div class="about__wrapper">
      <div class="left">
        <div class="detailsWrapper">
          <div class="details">
            <div class="about__descr">
              <p class="text about__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
              <p class="text about__text">et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu.</p>
            </div>
          </div>
          <div class="details">
            <div class="about__descr">
              <p class="text about__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
              <p class="text about__text">et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu.</p>
            </div>
          </div>
          <div class="details">
            <div class="about__descr">
              <p class="text about__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
              <p class="text about__text">et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="photos">
          <div class="photo photo-one">
          </div>
          <div class="photo photo-two">
          </div>
          <div class="photo photo-three">
          </div>
        </div>
      </div>
    </div>
    <p class="about__sub-text" data-scroll-title>We can fulfill the order all over the world</p>
  </div>
</section>
