<footer class="footer">
  <div class="container footer__container">
    <div class="list-reset footer__menu">
      <div class="list-reset footer__col">
        <h2 class="title footer__title">Pages</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Main</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">About</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Portfolio</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="list-reset footer__col">
        <h2 class="title footer__title">Contact</h2>
        <address class="footer__address">741 New South Head Rd, Triple Bay SWFW 3148, New York</address>
      </div>
      <div class="footer__col">
        <ul class="list-reset footer__social footer-social">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#inst"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#tw"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#in"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
