<section class="horizontal">
  <div class="pin-wrap">
    <div class="animation-wrap to-right">
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-1.jpg" alt="image">
        </div>
      </div>
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-2.jpg" alt="image">
        </div>
      </div>
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-3.jpg" alt="image">
        </div>
      </div>
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-4.jpg" alt="image">
        </div>
      </div>
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-5.jpg" alt="image">
        </div>
      </div>
      <div class="horizontal__item">
        <div class="horizontal__img">
          <img src="./img/Photo-6.jpg" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
