<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo" aria-label="Logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav" title="Navigation" data-nav>
      <ul class="list-reset nav__list">
        <li class="nav__item" data-nav-item><a href="#" class="nav__link">Main</a></li>
        <li class="nav__item" data-nav-item><a href="#" class="nav__link">About us</a></li>
        <li class="nav__item" data-nav-item><a href="#" class="nav__link">Portfolio</a></li>
        <li class="nav__item" data-nav-item><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
    <button class="burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
