<section class="hero">
  <div class="hero__top">
    <div class="container hero__container">
      <h1 class="centered title hero__title">
        Take your exhibition services to the next level
      </h1>
    </div>
  </div>
  <!-- <div class="hero__content">
    <div class="hero__inner">
      <div class="hero__scroll-text">
        <svg>
          <use xlink:href="img/sprite.svg#scroll-down"></use>
        </svg>
      </div>
      <div class="hero__scroll-circle">
        <svg>
          <use xlink:href="img/sprite.svg#scroll-down-circle"></use>
        </svg>
      </div>
    </div>
    <div class="swiper hero-slider swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-1.jpg" alt="Slide 1">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 2">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-3.jpg" alt="Slide 3">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-4.jpg" alt="Slide 4">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-5.jpg" alt="Slide 5">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-6.jpg" alt="Slide 6">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-1.jpg" alt="Slide 7">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 8">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 8">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 8">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 8">
        </div>
        <div class="swiper-slide hero-slide">
          <img src="../img/Photo-2.jpg" alt="Slide 12">
        </div>
      </div>
    </div>
  </div> -->
</section>
