<section class="project">
  <div class="container project__container">
    <h2 class="title title--center project__title" data-scroll-title>We Work to Craft Solid Products & Project For
      You</h2>
    <ul class="list-reset project__list">
      <li class="project__item">
        <a href="#" class="project__link">
          <div class="project__img" data-parallax>
            <img src="../img/project-1.jpg" alt="project 1">
          </div>
          <div class="project__text">
            <h3 class="project__name">Mascot game</h3>
            <p class="project__descr">Stands</p>
          </div>
          <div class="project__decor">
            <svg class="view">
              <use xlink:href="img/sprite.svg#view-project"></use>
            </svg>
            <svg class="arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="project__item">
        <a href="#" class="project__link">
          <div class="project__img" data-parallax>
            <img src="../img/project-2.jpg" alt="project 2">
          </div>
          <div class="project__text">
            <h3 class="project__name">Mascot game</h3>
            <p class="project__descr">Stands</p>
          </div>

        </a>
      </li>
      <li class="project__item">
        <a href="#" class="project__link">
          <div class="project__img" data-parallax>
            <img src="../img/project-3.jpg" alt="project 3">
          </div>
          <div class="project__text">
            <h3 class="project__name">Mascot game</h3>
            <p class="project__descr">Stands</p>
          </div>

        </a>
      </li>
      <li class="project__item">
        <a href="#" class="project__link">
          <div class="project__img" data-parallax>
            <img src="../img/project-4.jpg" alt="project 4">
          </div>
          <div class="project__text">
            <h3 class="project__name">Mascot game</h3>
            <p class="project__descr">Stands</p>
          </div>

        </a>
      </li>
      <li class="project__item">
        <a href="#" class="project__link">
          <div class="project__img" data-parallax>
            <img src="../img/project-5.jpg" alt="project 5">
          </div>
          <div class="project__text">
            <h3 class="project__name">Mascot game</h3>
            <p class="project__descr">Stands</p>
          </div>

        </a>
      </li>
      <li class="project__item">
        <a href="#" class="project__link project__link--all">
          <div class="project__link-text">View all</div>
        </a>
      </li>
    </ul>
  </div>
</section>
