<section class="service">
  <div class="container service__container">
    <h2 class="title title--center service__title" data-scroll-title>Choose the services that are right
      for you</h2>
  </div>
  <div class="container service__wrapper">
    <div class="swiper service__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide service__item">
          <a href="#" class="service__card">
            <h3 class="service__subtitle">Stands</h3>
            <div class="service__image">
              <img src="./img/service-2.jpg" aria-hidden="true">
            </div>
            <div class="service__content">
              <p class="service__descr">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              </p>
              <div class="service__decor">
                <svg class="border">
                  <use xlink:href="img/sprite.svg#curve-border"></use>
                </svg>
                <svg class="arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide service__item">
          <a href="#" class="service__card">
            <h3 class="service__subtitle">Stands</h3>
            <div class="service__image">
              <img src="./img/service-2.jpg" aria-hidden="true">
            </div>
            <div class="service__content">
              <p class="service__descr">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              </p>
              <div class="service__decor">
                <svg class="border">
                  <use xlink:href="img/sprite.svg#curve-border"></use>
                </svg>
                <svg class="arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide service__item">
          <a href="#" class="service__card">
            <h3 class="service__subtitle">Stands</h3>
            <div class="service__image">
              <img src="./img/service-2.jpg" aria-hidden="true">
            </div>
            <div class="service__content">
              <p class="service__descr">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              </p>
              <div class="service__decor">
                <svg class="border">
                  <use xlink:href="img/sprite.svg#curve-border"></use>
                </svg>
                <svg class="arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
